<section>
    <h1><strong>Welcome to the Home Page</strong></h1>
    <div>
        <button class="btn btn-light" onclick="signOut()">Sign Out</button>
        <button class="btn btn-light" onclick="resetPassword()">Change Password</button>
    </div>  
</section>

    <script>
        function signOut() {
            window.location.href = "/user/signout";
        }

        function resetPassword() {
            window.location.href = "/user/change-password";
        }
    </script>